
        <ul class="top-level-menu">
            <li><a href="/">Home</a></li>
            <li>
                <a href="/about">About</a>
                <ul class="second-level-menu">
                    <li><a href="/about/channel-history">Channel History</a>
                        <ul class="third-level-menu">
                            <li><a href="/about/channel-history/original-gcf">Original GCF</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/channel-guidelines">Channel Guidelines</a>
                <ul class="second-level-menu">
                    <li><a href="/channel-guidelines/debate-guidelines">Debate Guidelines</a>
                        <ul class="third-level-menu">
                            <li><a href="/channel-guidelines/debate-guidelines/flamewars">Flamewars</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
