<ul class="main-navigation">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a>
    <ul>
      <li><a href="/About/Channel-History">Channel History</a></li>
      <li><a href="/About/Related-Channels">Related Channels</a>
      <li><a href="/About/Staff-Bios">Staff Bios</a></li>
    </ul>
  </li>
  <li><a href="/Channel-Guidelines/guidelines">Channel Guidelines</a>
    <ul>
      <li><a href="/Channel-Guidelines/Cloaks">Cloaks</a></li>
      <li><a href="/Channel-Guidelines/Flame-Wars">Flame Wars</a></li>
      <li><a href="/Channel-Guidelines/Help-Guidelines">Help Guidelines</a></li>
      <li><a href="/Channel-Guidelines/Not-A-Sales-Channel-For-Microsoft">Not A Sales Channel</a></li>
      <li><a href="/Channel-Guidelines/Moderation">Moderation</a></li>
      <li><a href="/Channel-Guidelines/Why-No-Bots">Why No Bots?</a></li>
      <li><a href="/Channel-Guidelines/Topic-Guidelines">Topic Guidelines?</a>
        <li><a href="/Channel-Guidelines/No-Piracy">No Piracy</a></li>
      </li>
    </ul>
  </li>
</ul>
